.meu-header {
  width: 100%;
  background-color: #413030;
  color: #f47f16;
  padding: 1rem 3rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  box-shadow: none;
  margin: 0;

  display: flex;           /* Faz o texto e a imagem ficarem lado a lado */
  align-items: center;      /* Alinha verticalmente no centro */
  gap: 1rem;                /* Espaço entre a imagem e o texto */
}

.meu-header img {
  width: 140px;              /* Diminui o tamanho da imagem */
  height: auto;             /* Mantém a proporção */
}

.titulo-header {
  display: flex;             /* Faz os labels ficarem um abaixo do outro */
  flex-direction: column;    
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
}
